/* * {
    border: 1px solid black;
} */

#thumbnail-home {
    /* background-image: url("../img/kecak.jpg"); */
    /* background-image: url("https://d2mo2a5fvrklap.cloudfront.net/app/uploads/sites/2/2022/07/13183332/uluwatu-moments-balinesesonganddance-desktop-2.jpg"); */
    /* background-position: center; */
    overflow: hidden;
    /* background-size: cover;
    height: 30em; */
    max-height: 500px;
}

.zoom-in-out {
    overflow: hidden;
    animation: zoomInOut 10s infinite alternate;
}

@keyframes zoomInOut {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
